@import '../../assets/styles/variables.scss';

.SubInformation {
    font-size: 1em;
    // background-color: red;
    color: $base-color-dim;
    margin-bottom: 1.4em;

    span {
        padding: 8px;
    }

    
}

.SeparatorDot {
    font-size: 1em;
    font-weight: 900;

    &:after {

        content: " \B7 ";
    }
    
    // color: blue;
}

.Content {
    line-height: 1.5em;
}
