@import '../../assets/styles/variables.scss';

.Button {
    border: none;
    padding: 10px;
    font-weight: 400;
    margin: 12px;
    border-radius: 4px;
    background-color: $secondary-color;
    color: $back-color;
    font-family: 'Aileron';
    font-size: 1em;

    &:hover {
        cursor: pointer;
    }
}