.Title {
    // display: inline-block;
    
    // div {
    //     display: inline-block;
        
    // }
    div {
        color: inherit;
    }

}
.PublishButton {
    margin-left: 1em;
    margin-bottom: 2em;
    // font-size: 1.6em;
    // font-weight: 200;
    // align-items: center;
    // margin-bottom: 22px;
}